.left, .center, .right{
     float: left;
     margin-left: 10px;
}

.source, .transfer, .target{
     float: left;
     margin-top: 20px;
}

.information{
     float: left;
     margin-top: 20px;
}

/*div{
  border: 1px solid #2aabd2;
}*/
